VITE_SUPABASE_URL=https://lubntaqtcninzztlgwuq.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imx1Ym50YXF0Y25pbnp6dGxnd3VxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODY2NjY0MjAsImV4cCI6MjEwMjI0MjQyMH0.ZajtNeWEuS9uX03ZQvUegBdJ6gggWcD2xCE8KdMw5vE
